.message-item(ng-class="{'text-right': user.id == current_user.id}")
  .gutter-bottom-xs
    .smile.gutter-right-sm
      .aside-user-short(ng-if="user.id != current_user.id")
        {{::user.full_name | userAbbr}}
    .smile.bg-white.gutter-horizontal.gutter-vertical-sm
      {{::message.text}}
    .smile.gutter-left-sm(ng-if="user.id == current_user.id")
      .aside-user-short
        {{::user.full_name | userAbbr}}
