.cover.gutter-top-3x(style="background: #eee;")
  %table.table.fixed
    %tr(style="height: 100%;")
      %td(style="height: 100%;")
        .clearfix
          %a(ng-href="/#/") back
          %h1 tread show ctrl
    %tr
      %td
        %textarea.form-control.auto-grow-textarea

