.text-center
  .smile.block-fl-20.text-left
    %form(name="signForm" ng-submit="signForm.$valid && signIn()")
      .form-group{"ng-class" => "{ 'has-error': signForm.email.$invalid && signForm.email.$touched, 'has-success': signForm.email.$valid }"}
        %input.todo-input.form-control{:name => "email", "ng-model" => "signinData.email", "validate-email" => "", :placeholder => "Email", :type => "email", :required => true}
      .form-group.sign-in-last-inp{"ng-class" => "{ 'has-error': signForm.password.$invalid && signForm.password.$touched, 'has-success': signForm.password.$valid }"}
        %input.todo-input.form-control{:name => "password", "ng-model" => "signinData.password", "ng-minlength" => 8, "ng-pattern" => "/^[a-zA-Z0-9]+/", :placeholder => "Password", :type => "password", :required => true}
      %input{:id => "remember", "ng-model" => "signinData.remember_me", "type" => "checkbox"}
      %label.remember-me{"for" => "remember"} Remember me
      .form-group
        %button.btn.btn-primary.btn-block(type="submit")
          Sign In
    
