.aside {
  @extend .col-xs-12;
  @extend .full-height;
  @extend .full-width;
  &-container {
    @extend .cover;
    @extend .overflow-auto;
    top: $header-height;
  }
  &-user {
    @extend .link-base;
    &-short, &-md {
      &.new-msg {
        &:before {
          content: '';
          display: block;
          width: 0.84em;
          height: 0.84em;
          position: absolute;
          top: -0.25em;
          right: -0.25em;
          background: rgb(150, 183, 51);
          border-radius: 100%;
          border: 2px solid white;
        }
      }
      @extend .relative;
      @extend .smile;
      @extend .middle;
      @extend .text-center;
      @extend .text-lg;
      @extend .text-light;
      @extend .color-white;
      @extend .bg-gray;
      @extend .border-circle;
    }
    &-short {
      @extend .box-2;
    }
    &-md {
      @extend .box-3;
    }
  }
}
