.messages {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 10rem;
  padding: $gutter / 2;
  overflow: auto;
  @include opacity(0);
  @include transition-duration(0.8s);
  &.loaded {
    @include opacity(1);
  }
}
.message {
  &-body {
    @extend .smile;
    @extend .align-middle;
    @extend .bg-white;
    @extend .gutter-horizontal;
    @extend .gutter-vertical-sm;
    @extend .relative;
    border-radius: 4px;
    border: 1px solid #ddd;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      height: 1em;
      width: 1em;
      background: white;
      @include rotate(45deg);
      margin-top: -0.5em;
    }
    &.to-me {
      background: #fff8dc;
      &:before {
        left: -0.5em;
        border-bottom-left-radius: 4px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff8dc;
      }
    }
    &.from-me {
      background: #f5fffa;
      &:before {
        right: -0.5em;
        border-top-right-radius: 4px;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        background: #f5fffa;
      }
    }
  }
}
