.messages {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 10rem;
  padding: $gutter / 2;
  overflow: auto;
  @include opacity(0);
  @include transition-duration(0.8s);
  &.loaded {
    @include opacity(1);
  }
}
