*[data-tooltip]{
  position: relative;
  &:after {
    content: attr(data-tooltip);
    font-size: 1.2rem;
    color: white;
    background: black;
    border-radius: 3px;
    position: absolute;
    bottom: 100%;
    left: -80px;
    text-align: center;
    z-index: 10000;
    padding: 0.4em 1em;
    font-weight: normal;
    line-height: normal;
    display: none;
    width: 160px; 
  }
  &:hover:after {
    display: block;
  }
}
