.aside
  .aside-container
    .gutter-horizontal.gutter-vertical
      .gutter-vertical-xs.border-bottom.border-light(ng-repeat="tread in treads track by tread.id")

        %a.aside-user(ng-href="/#/treads/{{tread.id}}")
          .aside-user-short
            {{::userInnitials(tread.users[0])}}
          .smile.middle.gutter-left-sm
            {{::tread.users[0].first_name}}
            {{::tread.users[0].last_name}}
