.table-cell.content-left.align-top(ng-show="user")
  .aside
    .aside-container
      .gutter-vertical.gutter-horizontal
        .row-bottom
          .form-group.addon-right.icon-search
            %input.form-control(placeholder="Search")
      .clearfix
        %span(ng-repeat="tread in treads track by tread.id")
          %a.aside-tread-item(ng-class="{'active':$routeParams.treadId==tread.id}" ng-href="/#/treads/{{tread.id}}")
            .aside-user
              .aside-user-short(ng-class="{'new-msg':tread.new_msg}" amount="{{tread.new_msg}}")
                {{::tread.users[0].full_name | userAbbr}}
              .smile.middle.gutter-left-sm
                {{::tread.users[0].first_name}}
                {{::tread.users[0].last_name}}
