.aside
  .aside-container
    .gutter-horizontal.gutter-vertical
      .gutter-vertical-xs.border-bottom.border-light(ng-repeat="user in users track by user.id")

        %a.aside-user(ng-href='/#/treads/1')
          .aside-user-short
            {{::userInnitials(user)}}
          .smile.middle.gutter-left-sm
            {{::user.first_name}}
            {{::user.last_name}}
