.box {
  @for $i from 1 to 13 {
    &-#{$i}{
      width: #{$i}em;
      height: #{$i}em;
      line-height: #{$i}em;
      text-align: center;
      @extend .text-center;
    }
  }
}
.block {
  @for $i from 1 to 24 {
    &-#{$i}{
      width: #{$i}em!important;
    }
    &-fl-#{$i}{
      width: 100%;
      max-width: #{$i}em;
    }
  }
}
