!!!
%html(ng-app="app")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Treads
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script(type="text/javascript")
      window.anonimusUser = #{!user_signed_in?}
    = csrf_meta_tags
  %body(ng-controller="mainCtrl")
    .header
      .header-container
        .col-xs-5
          .smile.pointer.head-lg.align-middle.line-norm
            =icon :menu
        .col-xs-2.text-center
          .head-lg.smile.align-middle=icon :palm
        .col-xs-5.text-right
          %current-user(user="currentUser.user" ng-if="currentUser")
    .table.fixed.content(ng-if="ready")
      %left-aside(user="user" treads="treads")
      .table-cell.content-center.align-top.relative
        .gutter-top-3x
          .gutter-horizontal.gutter-vertical
            .clearfix
              %p.notice=notice
              %p.alert=alert
            .clearfix
              %div(ng-view)
